/* css reset */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --body-font: 'Roboto', Arial, Helvetica, sans-serif;

  /*colors */
  --logo-green-color: #495e57;
  --accent-green-color: #485e56;
  --off-white-color: #e5dcdc; 
  --main-backing-color: #ecefed;
  --flat-black-color: #2C3E50;

  /* values */
  --max-width: 1280px;
}

html {
  scroll-behavior: smooth;
  height: web-kit-fill-available;
}

body {
  background: var(--main-backing-color);
  color: var(--flat-black-color);
  display: flex;
  flex-direction: column;
  height: web-kit-fill-available;
}

ul, 
ol {
  font-family: var(--body-font);
  list-style: none;
}

a {
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}

.header {
  align-items: center;
  background: var(--main-backing-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  display: flex;
  height: 6rem;
  justify-content: center;
  position: sticky;
  transition: top 600ms ease;
  z-index: 2;
}

.header__home-button {
  text-align: center;
} 

.header__logo {
  max-width: 20rem;
  width: 60%;
}

.header__menu-toggle {
  cursor: pointer;
  height: 1.25rem;
  position: absolute;
  right: 2rem;
  top: 2.25rem;
}

.nav {
  align-items: center;
  background-color: var(--accent-green-color);
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  height: 100dvh;
  height: calc(100vh - var(--browser-chrome-height)); 
  justify-content: center;
  position: fixed;
  right: -60%;
  top: 0;
  bottom: 0;
  transition: top 0;
  transition: right 850ms ease;
  width: 60%;
  z-index: 2;
}

.nav.show {
  right: 0;
  transition: 450ms ease-out;
}

.nav__menu-toggle {
  cursor: pointer;
  height: 1.25rem;
  position: absolute;
  top: 2.25rem;
}

.nav__nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.nav__options {
  color: var(--off-white-color);
  font-weight: 400;
  letter-spacing: 6px;
  padding-block: 1rem;
  text-align: center;
}

.nav__options:hover {
  color: #f4ce14;
  font-weight: bold;
}

.main {
  background-color: var(--main-backing-color);
  display: flex;
  flex-direction: column;
  font-family: var(--body-font);
}

.main__banner {
  flex-grow: 1;
  padding: 1.25rem;
  width: 100%;
}

.banner__wrapper {
  position: relative;
}

.banner__img {
  border-radius: 15px;
  height: 15rem;
  max-width: 100%;
  margin-top: 2rem;
  object-fit: cover;
  object-position: center center;
  width: 100%;
}

.banner__heading {
  color: var(--accent-green-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8vw;
  font-weight: 500;
  letter-spacing: 2px;
  position: absolute;
  z-index: 0;
}

.banner__header {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.banner__promo-text {
  color: var(--accent-green-color);
  font-size: max(4vw, 2.2rem);
  font-weight: 400;
  line-height: 2;
  margin-inline: auto;
  margin-top: 3rem;
  text-align: center;
  width: 80%;
}

.banner__logo {
  bottom: 1rem;
  left: 3rem;
  position: absolute;
  width: 8rem;
}

.main__cards {
  align-items: center;
  background-color: var(--main-backing-color);
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
}

.main__card {
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  margin-block: 2rem;
  padding: 1rem;
  width: 95%;
}

.card__header {
  color: var(--accent-green-color);
  font-size: max(2vw, 1.75rem);
  margin-bottom: 0.5rem;
  text-align: center;
}

.card__img {
  height: 22rem;
  border-radius: 15px;
  max-width: 100%;
  object-fit: cover;
  object-position: center center;
  width: 100%;
}

.card__info {
  font-size: max(1.5vw, 1.5rem);
  line-height: 2;
  margin-block: 1rem;
  padding-inline: 1rem;
}

.footer {
  border-top: 2px solid var(--accent-green-color);
  width: 100%;
}

.footer__content {
  padding: 1rem;
}

.footer__left, 
.footer__right {
  text-align: center;
}


.footer__copyright {
  color: var(--logo-green-color); 
  font-family: var(--body-font);
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 2px;
  margin-top: 0.5rem;
}

.footer__logo {
  margin-top: 0.4rem;
  width: 14rem;
}

/* Breakpoints */
@media (min-width: 768px) {
  .header {
    align-items: center;
    display: flex;
    height: 6rem;
    justify-content: center;
    left: 0;
    padding-block: 1rem;
    position: fixed;
    right: 0;
  }

  .header__logo {
    width: 26rem;
  }

  .header__menu-toggle {
    display: none;
  }

  .nav {
    height: 4rem;
    margin-top: 6rem;
    position: sticky;
    transition: top 850ms ease;
    top: -2rem;
    width: 100%;
    z-index: 1;
  }

  .nav__menu-toggle {
    display: none;
  }

  .nav__nav-bar {
    flex-direction: row;
    gap: 10%;
    justify-content: center;
    padding-inline: 4rem;
    width: 100%;
  }
  
  .main {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    min-height: calc(100vh - (14rem));
    margin-inline: auto;
    max-width: var(--max-width);
  }
  
  .main__banner {
    grid-template-rows: 50% 1fr;
    padding: 2rem;
  }

  .banner__img {
    margin-top: 0;
    z-index: 0;
  }

  .banner__logo {
    width: 9rem;
  }

  .footer__content {
    align-items: center;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    height: 4rem;
    margin-inline: auto;
    max-width: var(--max-width);
  }

  .footer__left, 
  .footer__right {
    width: 50%;
  }

  .footer__right {
    margin-top: 0;
  }

  .footer__copyright {
    margin-bottom: 0.5rem;
  }
}

@media (min-width: 1080px) {
  .banner__img {
    height: 25rem;
  }

  .banner__logo {
    width: 12rem;
    width: 10rem;
  }

  .main__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 2rem;
  }
    
  .main__card {
    width: 32%;
    padding: 1rem;
  }
}

@media (min-width: 1280px) {
  .banner__img {
    height: 35rem;
  }
}