*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --body-font: 'Roboto', Arial, Helvetica, sans-serif;
  --embellish-font: 'Alegreya', Georgia, serif;
  --logo-green: #495e57;
  /* --accent-green: #738384; */
  --accent-green: #485e56;
  /* --off-white: #fcfbfb; */
  /* --off-white: #f9f9f9; */
  /* --off-white: #f7f7f7; */
  /* --off-white: #f3f4f4; */
  /* --off-white: #ecefed;  */
  /* --off-white: #e5e3df;  */

  --off-white: #e5dcdc; 

  --max-width: 1280px;
}

body {
  display: flex;
  flex-direction: column;
  background: var(--off-white);
}

ul, 
ol {
  list-style: none;
  font-family: var(--body-font);
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

.header {
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--off-white);
}

.header__home-button {
  text-align: center;
} 

.header__logo {
  max-width: 20rem;
  width: 60%;
}

.header__menu-toggle {
  position: absolute;
  right: 2rem;
  top: 2.25rem;
  cursor: pointer;
  height: 1.25rem;
}

.nav {
  position: fixed;
  height: 100%;
  width: 60%;
  right: -60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: var(--logo-green); */
  background-color: var(--accent-green);
  transition: 850ms ease;
}

.nav.show {
  right: 0;
  transition: 450ms ease-out;
}

.nav__menu-toggle {
  position: absolute;
  top: 2.25rem;
  cursor: pointer;
  height: 2rem;
  height: 1.25rem;
}


.nav__nav-bar {
  display: flex;
  flex-direction: column;
  /* outline: 2px solid green; */
  width: 100%;
  justify-content: space-between;
  padding-inline: 2rem;
}

.nav__options {
  padding-block: 1rem;
  text-align: center;
  color: var(--off-white);
  letter-spacing: 6px;
  font-weight: 400;
}

.nav__options:hover {
  font-weight: bold;
}

.main {
  /* outline: 4px dotted #333; */
  background-color: orange;
  display: flex;
  flex-direction: column;
  font-family: var(--body-font);
}

.main__banner {
  width: 100%;
  /* outline: 2px solid blue; */
  flex-grow: 1;
  padding: 1rem;
  /* background-color: green; */
}

.banner__heading {
  text-align: center;
}

.main__card {
  height: 10rem;
  /* outline: 2px solid green; */
}

.card__header {
  text-align: center;
}

.footer {
  width: 100%;
  border-top: 2px solid var(--accent-green);
  /* color: var(--off-white); */
  /* background-color: var(--accent-green); */

}

.footer__content {
  padding: 1rem;
}

.footer__left, 
.footer__right {
  text-align: center;
}


.footer__copyright {
  font-family: var(--body-font);
  letter-spacing: 2px;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--logo-green); 
  /* color: var(--off-white); */
  margin-top: 0.5rem;
}

.footer__logo {
  width: 14rem;
  margin-top: 0.4rem;
}

/* Breakpoints */
@media (min-width: 768px) {
  .header {
    position: fixed;
    left: 0;
    right: 0;
    height: 6rem;
    padding-block: 1rem;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header__logo {
    width: 26rem;
  }

  .header__menu-toggle {
    display: none;
  }

  .nav {
    position: static;
    width: 100%;
    height: 4rem;
    margin-top: 6rem;
    font-weight: 500;
    font-size: 1.2rem;
    transition: 0;
  }
  
  .nav.show {
    transition: 0;
  }

  .nav__menu-toggle {
    display: none;
  }

  .nav__logo {

  }

  .nav__nav-bar {
    flex-direction: row;
    /* outline: 2px solid green; */
    width: 100%;
    justify-content: center;
    gap: 10%;
    padding-inline: 4rem;
  }
  .nav__options {

  }
  
  .main {
    min-height: calc(100vh - (14rem));
    max-width: var(--max-width);
    margin-inline: auto;
  }
  
  .main__banner {
    /* height: 30rem; */
  }

  .main__content {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 70% 1fr;
    grid-gap: 2rem;
  }

  .main__banner {
    grid-template-rows: 50% 1fr;
  }

  .main__cards {
    background-color: blue;
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  
  .main__card {
    border: 2px solid red;
    width: 30%;
  }

  .footer {

  }

  .footer__content {
    justify-content: space-between;
    display: flex;
    height: 4rem;
    gap: 2rem;
    align-items: center;
    max-width: var(--max-width);
    margin-inline: auto;
  }
  .footer__left, 
  .footer__right {
    width: 50%;
  }

  .footer__right {
    margin-top: 0;
  }

  .footer__copyright {
    /* display: none; */
    margin-bottom: 0.5rem;
  }
}

@media (min-width: 1280px) {

}